.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo-box {
    flex-wrap: wrap;
    align-items: stretch;
    align-self: stretch;
}

.main-content{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    align-self: stretch;
}


.players:nth-child(1) {
    width: 70%;
    flex-direction: row;
    display: flex;
    border: 1px solid black;
    margin: 5px 5px;
}


.sidebar:nth-child(2) {
    border: 1px solid blue;
    margin: 5px 5px;
    width: 30%;
}
.player-block {
    max-width: 250px;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    border: 1px solid red;
    align-items: flex-start;
    margin: 5px 5px;
}

.player-block_name {
    margin: 5px 0px;
}

.player-block_delbutton {
    margin: 5px 0px;
}

.addplayer {
    margin: 5px 5px;
}